body {
}
/** Welcome Page **/
::selection { 
  background-color: #18bc9c; 
  color: #ffffff; 
}
::-moz-selection { 
  background-color: #18bc9c; 
  color: #ffffff; 
}

.navbar {
  margin-top: 15px;
}

date {
  font-weight: bold!important;
  margin-bottom: 15px;
  display: inline-block;
  color: #e91e63;
}

p {
  font-size: 1.3em;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px dotted #2c3e50;
}
.blog-page h1 {
  color: #2c3e50;
  border-bottom: 3px solid #e91e63;
  width: 54px;
}


footer {
  color: #ffffff;
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #e91e63;
  padding: 10px 15px;
}

@media (max-width: 768px)
{
  footer {
    border-radius: 0px;
  }
}